{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <title>Saldo da conta #{{ account.number }} | Inkbank</title>
  </head>
  <body class="bg-gray-100 p-8">
    <div class="flex justify-between">
      <h1 class="text-lg font-medium leading-6 text-gray-900 pb-4">Saldo da conta #{{ account.number }}</h1>
      <a href="{% url 'index' %}" class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Voltar</a>
    </div>
    <dd class="text-base font-medium text-gray-400">
      <span class="flex items-center">
        <span class="text-5xl tracking-tight text-indigo-500 font-extrabold">
          R$ {{ account.balance }}
        </span>
      </span>
    </dd>
  </body>
</html>