{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />
    <title>Consultar saldo | Inkbank</title>
  </head>
  <body class="bg-gray-100 p-8">
    <div class="flex justify-between mb-4">
      <h1 class="text-lg font-medium leading-6 text-gray-900 pb-4">Consultar saldo</h1>
      <a href="{% url 'index' %}" class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Voltar</a>
    </div>
    <form action="." method="POST">
      {% csrf_token %}
      {{ form.non_field_errors }}
      <div class="shadow sm:rounded-md sm:overflow-hidden">
        <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
          <div>
            <label
              for="{{ form.number.id_for_label }}"
              class="block text-sm font-medium text-gray-700"
            >
              {{ form.number.label }}
            </label>
            {{ form.number }}
            <span class="block text-xs text-red-600 mt-1">
              {{ form.number.errors }}
            </span>
          </div>
        </div>
        <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
          <button
            type="submit"
            class="
              inline-flex
              justify-center
              py-2
              px-4
              border border-transparent
              shadow-sm
              text-sm
              font-medium
              rounded-md
              text-white
              bg-indigo-600
              hover:bg-indigo-700
              focus:outline-none
              focus:ring-2
              focus:ring-offset-2
              focus:ring-indigo-500
            "
          >
            Consultar
          </button>
        </div>
      </div>
    </form>
  </body>
</html>